.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.items_panel {
    padding: 32px;
    border-radius: 10px;
    border-width: 2px;
    border-style: dashed;
    background: linear-gradient(#b3e0f9, #87C6E8);
    margin: 20px;
}
.filename {
    border-radius: 0.5px;
    border-style: dotted;
    border-color: #2C628B;
    text-align: center;
}
.button {
    background: linear-gradient(#f0f0f0, #d7d7d7);
    border-color: #939393;
    padding: 10px 50px 10px 50px;
    text-decoration: none;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    font-family: 'Segoe UI';
    font-size: medium;
    color: black;
}
.button:hover {
    background: linear-gradient(#e2f3fd, #b3e0f9);
    border-color: #3c7fb1;
}
.button:active {
    background: linear-gradient(#D6EDF9, #87C6E8);
    border-color: #2C628B;
}