
.downloadbutton {
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    padding-top: 10px;    
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    font-size: 20px;
}

.app {
    border-color: #fff;
    border-bottom: 2px dashed #fff;
    padding: 20px;
    padding-bottom: 25px;
    text-align: left;
    min-width: 535px;
}

.versions {
    display: flex;
    flex-wrap: wrap;
}

.versions p {
    border-color: #fff;
    border-style:dotted;
    border-width: 2px;
    background-color: #303030;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    margin: 5px;
    border-radius: 12px;
}

.versions a {
    text-decoration:none
}

.downloadbutton:hover {
    background-color:deepskyblue;
}

.apps {
    width: 100%;
    height: 100%;
    display: grid;
    background-color: #252530;
}

