body {
    background-color: #161616;
}
.logo {
    width: 40px;
    height: 40px;
    padding-right: 25px;
}
.blacktext {
    color: black;
}
.whitetext {
    color: white;
}
.centercontent {
    padding: 25px;
    margin: 0 auto;
    display: relative;
    position: relative;
    justify-content: center;
}
.centercontent img {
    display: block;
    margin:auto;
}

.href-button {
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    padding-top: 10px;    
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    font-size: 20px;
}